/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* Принудительное переключение на тёмную тему */
:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --heading-title-color: #db00ff;
  --button-border-hover: #ff007066;
  --title-decor: #000028;
  --f-color: #ff0070;
}

.theme-dark .page {
  .header-rec {
    display: block;
  }

  .title-decor {
    color: var(--title-decor, #000028);
  }

  .header__theme-menu-button,
  .section__title {
    color: var(--accent-color, #ff0070);
  }

  .decorated-zone::before,
  .decorated-zone::after {
    border-color: var(--accent-color, #ff0070);
  }
}
