/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --header__title-color: #ffc2e6;
  --button-border-hover: #35343066;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --header__title-color: #ffc2e6;
    --button-border-hover: #35343066;
  }

  .header-rec {
    display: none;
  }

  .title-decor {
    color: var(--text-color, #353430);
  }

  .header__theme-menu-button {
    color: var(--text-color, #353430);
  }

  .header__theme-menu-button:hover {
    border-color: var(--button-border-hover, #35343066);
  }

  .header__theme-menu-button[disabled='true'] {
    border-color: var(--text-color, #353430);
  }

  .header__theme-menu-button:focus-visible {
    border-block-end-color: var(--text-color, #353430);
  }

  .section__title {
    color: var(--text-color, #353430);
  }

  .header__title,
  .footer-title {
    color: var(--header__title-color, #ff8dcb);
  }

  .theme-light .decorated-zone::before {
    border-inline-end: 1px solid var(--text-color, #353430);
    border-block-start: 1px solid var(--text-color, #353430);
  }

  .theme-light .decorated-zone::after {
    border-inline-start: 1px solid var(--text-color, #353430);
    border-block-end: 1px solid var(--text-color, #353430);
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .header-rec {
  display: none;
}

.theme-light .title-decor {
  color: var(--text-color, #353430);
}

.theme-light .header__theme-menu-button {
  color: var(--text-color, #353430);
}

.theme-light .header__theme-menu-button:hover {
  border-color: var(--button-border-hover, #35343066);
}

.theme-light .header__theme-menu-button[disabled='true'] {
  border-color: var(--text-color, #353430);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-block-end-color: var(--text-color, #353430);
}

.theme-light .section__title {
  color: var(--text-color, #353430);
}

.theme-light .header__title,
.theme-light .footer-title {
  color: var(--header__title-color, #ff8dcb);
}

.theme-light .decorated-zone::before {
  border-inline-end: 1px solid var(--text-color, #353430);
  border-block-start: 1px solid var(--text-color, #353430);
}

.theme-light .decorated-zone::after {
  border-inline-start: 1px solid var(--text-color, #353430);
  border-block-end: 1px solid var(--text-color, #353430);
}
