/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* Принудительное переключение на светлую тему */
:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --heading-title-color: #ffc2e6;
  --button-border-hover: #35343066;
  --title-decor: #353430;
  --f-color: #353430;
}

/* Автоматическое включение светлой темы */
@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --heading-title-color: #ffc2e6;
    --button-border-hover: rgba(53, 52, 48, 0.4);
    --title-decor: #353430;
    --f-color: #353430;
  }

  .header-rec {
    display: none;
  }

  .title-decor {
    color: var(--f-color, #353430);
  }

  .header__theme-menu-button {
    color: var(--f-color, #353430);
  }

  .header__theme-menu-button:hover {
    border-color: var(--button-border-hover, #35343066);
  }

  .header__theme-menu-button[disabled='true'] {
    border-color: currentColor;
  }

  .header__theme-menu-button:focus-visible {
    border-block-end-color: currentColor;
  }

  .section__title {
    color: var(--f-color, #353430);
  }

  .header__title,
  .footer-title {
    color: var(--heading-title-color, #ff8dcb);
  }

  .decorated-zone::before {
    border-inline-end: 1px solid var(--f-color, #353430);
    border-block-start: 1px solid var(--f-color, #353430);
  }

  .decorated-zone::after {
    border-inline-start: 1px solid var(--f-color, #353430);
    border-block-end: 1px solid var(--f-color, #353430);
  }
}

.theme-light .page {
  .header-rec {
    display: none;
  }
}
