/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* Принудительное переключение на светлую тему */
:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --heading-title-color: #ffc2e6;
  --button-border-hover: #35343066;
  --title-decor: #353430;
  --f-color: #353430;
}

/* Автоматическое включение светлой темы */
@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --heading-title-color: #ffc2e6;
    --button-border-hover: rgba(53, 52, 48, 0.4);
    --title-decor: #353430;
    --f-color: #353430;
  }

  .header-rec {
    display: none;
  }
}

.theme-light .page {
  .header-rec {
    display: none;
  }
}
