/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color, #f1b2ce);
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* header */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
}

.header-rec {
  position: absolute;
  color: var(--accent-color, #ff0070);
  font-family: var(--main-font, 'sans-serif');
  font-size: var(--regular-font-size, 18px);
  line-height: 1.4;
  text-transform: uppercase;
  inset-block-start: var(--space-sm, 10px);
  inset-inline-end: var(--space-md, 20px);
  inline-size: 52px;
}

.header-rec::after {
  content: '';
  position: absolute;
  inset: 8px 0 0 42px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  block-size: 9px;
  inline-size: 9px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm, 10px);
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 13px;
  padding-block-end: 5px;
  color: var(--f-color, #ff0070);
  font-family: var(--main-font, 'sans-serif');
  font-size: var(--regular-font-size, 18px);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:hover {
  border-color: var(--button-border-hover, #ff007066);
}

.header__theme-menu-button[disabled='true'] {
  border-color: currentColor;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__title {
  justify-self: start;
  color: var(--heading-title-color);
  font-size: var(--logo-size);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}
/* / header */

/* main */
.content.content-section {
  padding-block-end: calc(var(--space-lg, 30px) + var(--space-sm, 10px));
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md, 20px);
}

.section__title {
  color: var(--f-color, #ff0070);
}

.section__paragraph {
  margin-block-end: var(--space-md, 20px);
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color, #ff0070);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  border: 1px solid currentColor;
}

.section__link:hover {
  border-block-end: 1px solid currentColor;
}

.section-list__item {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm, 10px);
}

.section-pictures {
  gap: var(--space-sm, 10px);
}

.section-pictures .section-list {
  display: grid;
  gap: var(--space-sm, 10px);
}

.section-pictures .section-list__item {
  margin: 0;
}

.section-list__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}
/* / main */

/* footer */
.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer-title {
  color: var(--heading-title-color);
  font-size: var(--logo-size);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}
/* / footer */

/* общие стили */

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--f-color, #ff0070);
  border-block-start: 1px solid var(--f-color, #ff0070);
  inset-block-start: var(--space-sm, 10px);
  inset-inline-end: var(--space-sm, 10px);
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--f-color, #ff0070);
  border-block-end: 1px solid var(--f-color, #ff0070);
  inset-block-end: var(--space-sm, 10px);
  inset-inline-start: var(--space-sm, 10px);
  block-size: 25px;
  inline-size: 25px;
}

.content-section {
  padding: var(--space-sm, 10px);
}

.section-why,
.section-causes,
.section-something,
.section-pictures {
  margin-block-start: var(--space-lg, 30px);
}

.title_margin-bottom {
  margin-block-end: var(--space-sm, 10px);
}

.title-decor.title-light {
  font-weight: var(--light, 400);
}

.title-decor {
  color: var(--title-decor, #000028);
  font-weight: 700;
  background-color: var(--accent-color, #ff0070);
}
/* / общие стили */

@media (width >= 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header,
  .footer {
    min-block-size: 1024px;
  }

  .decorated-zone::before {
    inset-block-start: var(--space-md, 20px);
    inset-inline-end: var(--space-md, 20px);
  }

  .decorated-zone::after {
    inset-block-end: var(--space-md, 20px);
    inset-inline-start: var(--space-md, 20px);
  }

  .header-rec {
    inset-block-start: var(--space-md, 20px);
    inset-inline-end: var(--space-lg, 30px);
  }

  .header__title {
    margin-inline-start: calc(
      var(--space-md, 20px) - (var(--space-lg, 30px) + var(--space-sm, 10px))
    );
  }

  .header__title,
  .footer-title {
    font-size: var(--logo-size);
  }

  .header__paragraph {
    inline-size: 50%;
  }

  .content.content-section {
    padding-block-end: calc(var(--space-lg, 30px) + var(--space-lg, 30px));
  }

  .section-why {
    margin-block-start: calc(var(--space-lg, 30px) + var(--space-sm, 10px));
  }

  .section-why,
  .section-causes,
  .section-something {
    grid-template-columns: 1fr 2fr;
  }

  .section-causes .section-list {
    display: grid;
    grid-column: 1 / -1;
  }

  .section-causes .section__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .section-causes,
  .section-something,
  .section-pictures {
    margin-block-start: calc(var(--space-lg, 30px) + var(--space-lg, 30px));
  }

  .section-pictures {
    gap: var(--space-md, 20px);
  }

  .section-pictures .section-list {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    gap: var(--space-md, 20px);
  }

  .section-pictures .section-list .section-list__item:nth-child(1) {
    grid-column: span 2;
  }

  .section-pictures .section-list .section-list__item:nth-child(2) {
    grid-row: span 2;
  }

  .section-pictures .section-list .section-list__item:nth-child(3) {
    grid-row: span 3;
  }

  .section-pictures .section-list .section-list__item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .content-section {
    padding: var(--space-md, 20px);
  }
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section-causes .section__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .section-causes .section-list {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-md, 20px);
  }
}
